#topbar {
    background-color: #19232f;
    color: darkgray;
    max-width: 1920px;
    height: 42px;
    text-align: center;


}

#fb {
    color: #31aae2;
    margin-left: 10px;
}

#num {
    margin-top:12px;
    margin-left: -257px;
    font-size: 12px;
    font: weight 5px;

}


#numicon {
    margin-top: 12px;
    margin-left: -180px;
}

#homeicon {
    margin-top: 12px;
    margin-left: -50px;
}

#add {
    margin-top: 12px;
    margin-left: -225px;
    font-size: 12px;
    font: weight 5px;

}

#mail {
    margin-left: -255px;
    margin-top: 12px;
    font-size: 12px;
    font: weight 5px;

}

#mailicon {
    margin-top: 12px;
    margin-left: -220px;
}

#icon {
    margin-left: 10px;
    margin-top: 12px;
}
.col{
    margin-left: 200px;
}

#tdec {
    text-decoration: none;
    color: darkgra;
}

#logo {
    width: 170px;
    height: 20px;


}

#atag {
    margin-left: 110px;

}

#navtxt {
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 575px;
    width: 300px;
    display: flex;

}
#navtext {
    margin-top: -30px;
    margin-bottom: 20px;
    width: 300px;
    display: flex;

}

#nav {
    padding-top: 29px;
    position: sticky;
}